@import url(fonts.css);
/* Cores principais:
Vermelho: #FF0000
Preto: #000000
Branco: #FFFFFF
Magenta: #800080
Rosa: #FFC0CB

Cores complementares:
Vermelho bordô: #800000
Marrom: #A52A2A
Cinza escuro: #696969
Cinza: #808080
Cinza claro: #D3D3D3
 */

:root{
    --fonte-principal: 'TanHarmoni';
    --fonte-secundaria: 'GlacialIndifference';
    --fonte-terciaria: 'Caladea';
    --fonte-destaque: 'Simonetta';
    --teste: 'Spirax';
    --cor-principal: #000;
    --cor-secundaria: #800000;
    --cinza-fundo: #d3d3d3;
    --cinza-secundario: #696969;
    --branco: #fff;
    --magenta: #800080;
    --marrom: #A52A2A;
}

body{
    background-color: var(--cinza-fundo);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .logotipo {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 6em;
    text-align: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
    border-bottom: solid;
    border-radius: 8px;
  }
  
  h1 p {
    padding-left: 20px;
  }

  .menu {
    margin-top: 3%;
    padding: 0;
    width: 100%;
    margin-bottom: 3%;
    align-items: center;
    font-family: var(--teste);
    background-color: rgba(255, 255, 255, 0.562);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .menu__lista {
    list-style: none;
    display: flex; /* Alinha os itens lado a lado */
  }
  
  .menu__lista__item {
    font-size: 1.4em;
    text-align: center;
    padding: 0.6em;
  }

  .menu a {
    letter-spacing: 0.1em;
    padding: 2em;
    text-decoration: none;
    color: var(--cor-principal);
  }

  .contato-flutuante {
    position: fixed;
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato-flutuante a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #C2185B; /* Magenta da marca */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
}

.contato-flutuante a:hover {
    transform: scale(1.1);
    background-color: #AD1457;
}

.contato-flutuante img {
    width: 30px;
    height: 30px;
}
