@font-face {
    font-family: 'TanHarmoni';
    src: url('./fonts/TAN-Harmoni-Font/TanHarmoni-Regular.otf') format('opentype'),
         url('./fonts/TAN-Harmoni-Font/TanHarmoni-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GlacialIndifference';
    src: url('./fonts/GlacialIndifference-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

/* Cores principais:
Vermelho: #FF0000
Preto: #000000
Branco: #FFFFFF
Magenta: #800080
Rosa: #FFC0CB

Cores complementares:
Vermelho bordô: #800000
Marrom: #A52A2A
Cinza escuro: #696969
Cinza: #808080
Cinza claro: #D3D3D3
 */

:root{
    --fonte-principal: 'TanHarmoni';
    --fonte-secundaria: 'GlacialIndifference';
    --fonte-terciaria: 'Caladea';
    --fonte-destaque: 'Simonetta';
    --cor-principal: #000;
    --cor-secundaria: #800000;
    --cinza-fundo: #d3d3d3;
    --cinza-secundario: #696969;
    --branco: #fff;
    --magenta: #800080;
    --marrom: #A52A2A;
}

body{
    background-color: var(--cinza-fundo);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 150px; /* Ajuste a altura do header conforme necessário */
  }
  
  .imagem-titulo {
    position: absolute; /* Permite posicionar a imagem fora do fluxo normal */
    top: 1em; /* Ajuste a posição vertical conforme necessário */
    left: 50px; /* Ajuste a posição horizontal conforme necessário */
    width: 16em; /* Ajuste a largura da imagem conforme necessário */
    height: 16em; /* Ajuste a altura da imagem conforme necessário */
    border-radius: 50%; /* Torna a imagem redonda */
    filter: blur(1px); /* Aplica desfoque à imagem */
    z-index: -1; /* Coloca a imagem atrás do título */
  }

  .logotipo {
    position: absolute;
    bottom: 20%; /* Posiciona o título no meio do header */
    transform: translateY(50%); /* Ajusta o posicionamento vertical */
    left: 0.1em;
    z-index: 1;
    font-family: var(--fonte-principal);
    font-size: 3em;
    text-align: left;
    margin-left: 0.5em;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    color: var(--cor-secundaria);
    background-color: red;
    display: inline;
  }
  
  /* ... outros estilos ... */
  
  h1 p {
    padding-left: 20px;
  }
  
  .menu {
    padding: 0;
    width: auto;
    margin-top: 8%;
    margin-right: 1em;
    order: 1;
    align-items: center;
  }
  
  .menu__lista {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu__lista__item {
    margin: 1em 1em 0 1em;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .menu a {
    font-family: var(--fonte-secundaria);
    letter-spacing: 0.1em;
    padding: 0.7em;
    text-decoration: none;
    color: var(--cinza-secundario);
  }