@import url(../styles.css);
@import url(../fonts.css);

.card {
    font-family: 'Simonetta';
    width: 50%;
    margin-left: 20%;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.753);
    padding: 3em;
    position: relative; /* Necessário para a imagem ficar posicionada dentro do card */
    border-radius: 48px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* Sombra escura */
    margin-top: 4em;
}

.card img {
    width: 9em; /* Mantém o tamanho da imagem */
    height: 9em;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    object-fit: cover;
    position: absolute;
    top: -50px; /* Ajuste para posicionar a imagem mais acima do card */
    right: -50px; /* Ajuste para posicionar a imagem mais à direita */
}

.card h2{
    font-family: 'PetitFormalScript';
    font-size: 1.8em;
    font-weight: 700;    
    text-shadow:
    1.5px 1.5px 1.5px rgba(0, 0, 0, 0.603); /* Sombra escura */
}

.descricao__perfil{
    text-align:inherit;
    padding-right: 5em;
    font-family: var(--fonte-terciaria);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);;
}
.principais__servicos{
    margin: 1em 13em 0 13em;
    font-family: var(--fonte-terciaria);
    color: var(--cor-principal);
    background-color: rgba(255, 255, 255, 0.795);
    padding: 4em;
    border-radius: 30px;
}

.container{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
}

.subtitulo__servicos{
    font-family: 'Playball';
    text-align: center;
    font-size: 1.4em;
    margin-top: 0;
    background: url('../assets/wppblur.png') no-repeat #f4f2e6;
    background-size: contain;
    outline-offset: 2px;
    padding: 1.3em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.432);;
    color: var(--marrom);
    border-radius: 48px;
}

.titulo__container{
    font-family: 'Spirax';
    font-size: 2.4em;
    margin-top: 7%;
    border-bottom: solid 2px black;
}

.servicos h3{
    font-size: 1.7em;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.servicos p{
    font-size: 1.4em;
}

