@import url(../styles.css);
@import url(../fonts.css);

.card {
    font-family: var(--fonte-terciaria);
    width: 50%;
    margin-left: 20%;
    font-size: 1.2em;
    background-color: rgba(233, 233, 233, 0.829);
    padding: 3em;
    position: relative; /* Necessário para a imagem ficar posicionada dentro do card */
    border-radius: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 11em; /* Mantém o tamanho da imagem */
    height: 11em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50px; /* Ajuste para posicionar a imagem mais acima do card */
    right: -50px; /* Ajuste para posicionar a imagem mais à direita */
    border: 5px solid white; /* Opcional: borda para destacar a imagem */
}

.card h2{
    font-family: 'PetitFormalScript';
    font-size: 2em;
    font-weight: 700;    
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.76);
}

.descricao__perfil{
    text-align:inherit;
    padding-right: 5em;
    font-family: var(--fonte-secundaria);
}

.principais__servicos{
    margin: 1em 13em 0 13em;
    font-family: var(--fonte-terciaria);
    color: var(--cor-principal);
    background-color: rgba(255, 255, 255, 0.795);
    padding: 4em;
    border-radius: 30px;
}

.container{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
}

.subtitulo__servicos{
    font-family: 'PetitFormalScript';
}